body {
	padding: 0;
	margin: 0;
	background-image: url(maze.png);
	background-repeat: no-repeat;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	text-align: center;
}

li {
	display: inline-block;
	float: left;
}

#menuHead{
	position: absolute;
	left: 0;
	top: 0;
	padding: 0;
	margin: 0;
	width: 100%;
	background-image: linear-gradient(#BDBDBD,#D8D8D8);
	border-bottom: 1px solid;
	border-color: #585858;
	font-family: 'Arial';
	text-shadow: #E6E6E6 0px 1px 0;
	color:#2E2E2E;
	min-width: 600px;
}

#menuHead h1{
	padding-right: 18%;
	margin: 0;
	text-align: center;
}

#connection {
	width: 150px;
	border-right: 1px solid;
	border-color: #585858;
	text-align: center;
	line-height:40px;
}

#connection:hover {
	background-color: #BDBDBD;
	cursor: default;
	overflow:hidden;
	-moz-transition: .8s all .3s;
	-webkit-transition: .8s all .3s;
	transition: .8s all .3s;
}

#connection:hover #sousMenuConnection {
	display: block;
}

#sousMenuConnection {
	width: 150px;
	height: 200px;
	background-color: #BDBDBD;
	border-bottom: 1px solid #585858;
	border-right: 1px solid #585858;
	display: none;
	position: absolute;
	top: 40;
}

#sousMenuConnection li{
	margin-left: auto;
	margin-right: auto;
	margin-top:15px;
	font-size: 12px;
	width: 150px;
}

#sousMenuConnection a {
	text-decoration: none;
}

#bouton {
	color: white;
	width: 120px;
	border-radius:12px 0 12px 0;
	background: #2E2E2E;
	padding:6px 0 6px 0;
	box-shadow:1px 1px 3px #999;
}

#bouton:hover{
	background: #585858;
}

#createAcc {
	width: 150px;
	border-right: 1px solid;
	border-color: #585858;
	text-align: center;
	line-height:40px;
}

#createAcc:hover{
	background-color: #BDBDBD;
	cursor: default;
}

#help {
	float: right;
	width: 150px;
	border-left: 1px solid;
	border-color: #585858;
	text-align: center;
	line-height:40px;
}

#help:hover{
	background-color: #BDBDBD;
	cursor: pointer;
}

#content {
	background-color: white;
	margin-left:22%;
	width: 56%;
	height: 100%;
	border-left: thin solid #585858;
	border-right: thin solid #585858;
	box-shadow: 5px 6px 50px gray, -5px 6px 50px gray;
	min-width: 600px;
}

